.page-wrap {
  margin: auto;
  width: 80%;
  text-align: center;
}

.header {
  color: lightcoral;
  font-size: 4rem;
  text-align: left;
  -webkit-text-stroke: 2px solid gray;
}

.sidebar {
  display: inline;
  float: left;
}

.chart-holder {
  display: inline-block;
}
